<div class="mt-5">
  <h4>FAQs</h4>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">Now what?</h5>
      <p class="card-text">If you'd like, you can remove the emails associated with your account by following the steps
        <a href="https://docs.github.com/en/github/using-git/changing-author-info#changing-the-git-history-of-your-repository-using-a-script">here</a>.
      </p>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">Can I avoid this happening in the future?</h5>
      <p class="card-text">Yes, you can! GitHub has excellent documentation available on the topic
        <a href="https://docs.github.com/en/github/setting-up-and-managing-your-github-user-account/managing-email-preferences">here</a>.
      </p></div>
  </div>
</div>