<form [formGroup]="formGroup" (ngSubmit)="onFormSubmitted()">
  <div class="form-group">
    <div class="d-flex align-items-end">
      <input #username formControlName="username" type="text" class="form-control form-control-lg" id="username"
             aria-label="GitHub Username" placeholder="GitHub username" required>
      <button type="submit" class="btn ml-n5 mb-2" role="button" [disabled]="!username.value">
        <app-search-icon></app-search-icon>
      </button>
    </div>
    <small class="text-danger" *ngIf="usernameValidationState === ValidationState.Invalid">Looks like the user doesn't exist.
    </small>
  </div>
</form>